.marqueeContainer {
  white-space: nowrap;
  width: 100%;
  position: relative;
  background-color: #9cadbd;
  padding: 20px;
  border-radius: 100px;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerComponent {
  display: flex;
  gap: 20px;
  transition: scroll 10s linear infinite;
  animation: 10s linear infinite;
}

@media (max-width: 768px) {
  .marqueeContainer {
    padding: 10px;
    height: 100px;
  }

  .innerComponent {
    transform: scale(0.5);
    transform-origin: center;
    justify-content: center;
    gap: 10px;
    transition: scroll 10s linear infinite;
  }
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: scroll 20s linear infinite;
}

.marqueeContainer:hover .marquee {
  animation-play-state: paused;
}
