/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-speed: 500ms;
}

html {
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.dark {
  background-color: #292c35;
  color: #fff;
}

.dark button {
  background-color: #ffffff;
  color: #d1d5db;
}
